/* custom-styles.css */
.custom-delay-500ms {
    animation-delay: 0.5s !important;
}

.custom-delay-1500ms {
    animation-delay: 1.5s !important;
}

.custom-delay-2500ms {
    animation-delay: 2.5s !important;
}

.custom-delay-3500ms {
    animation-delay: 3.5s !important;
}

.custom-delay-4500ms {
    animation-delay: 4.5s !important;
}

.max-width-check-box {
    max-width: 150px;
}

body.custom-background {
    background-image: url('../images/meal_planner_homepage.png');
}

main.custom-background {
    background-color: rgba(32, 32, 32, 0.8);
}
