{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mx-auto bg-gray-900 px-4">
        <h1 class="text-4xl font-bold text-center mt-10 mb-4 animate__animated animate__fadeInDown animate__delay-1s">Welcome AI-La-Carte!</h1>
        <p class="text-lg mb-6 animate__animated animate__fadeInDown animate__delay-2s">Discover a smarter way to plan your meals with the help of GPT-4. AI-La-Carte is designed to make life easier for busy families and cooks of all skill levels. Our key features include:</p>
        <ul class="list-disc list-inside mb-6 animate__animated animate__fadeInDown animate__delay-3s">
            <li>Personalized meal recommendations tailored to your preferences</li>
            <li>Easy-to-follow recipes suited for every skill level</li>
            <li>Ready to assist you in the endless pursuit of "What's for dinner?"</li>
        </ul>
        <p class="text-lg mb-10 animate__animated animate__fadeInDown animate__delay-4s">Smart Meal Planner is free from ads, tracking, and sign-up requirements. We're committed to delivering a seamless and enjoyable experience that simplifies meal planning for everyone. So, why wait? Let's start cooking!</p>
        <div class="cta-container text-center">
            <a href="{{ url_for('settings') }}" class="cta-btn inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110 animate__animated animate__fadeInDown animate__delay-5s">Get Started</a>
        </div>
    </div>
{% endblock %}
