<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6 animate__animated animate__fadeInDown animate__faster">Settings Page</h1>
        <form action="/submit" method="POST">
            <div class="form-group mb-4 animate__animated animate__fadeInDown animate__delay-1s">
                <label for="skill_level" class="block mb-2 font-bold">Skill Level:</label>
                <p class="text-sm text-white mb-2">Select your skill level to receive meal recommendations tailored to your culinary abilities.</p>
                <select name="skill_level" id="skill_level" class="bg-gray-200 text-black p-2 rounded">
                    <option>Beginner</option>
                    <option>Intermediate</option>
                    <option>Experienced</option>
                    <option>Expert</option>
                </select>
            </div>
            <div class="form-group mb-4 animate__animated animate__fadeInDown custom-delay-1500ms">
                <label for="dietary_restrictions" class="block mb-2">Dietary Restrictions:</label>
                <select name="dietary_restrictions" id="dietary_restrictions" class="bg-gray-200 text-black p-2 rounded">
                    <option>None</option>
                    <option>Vegetarian</option>
                    <option>Vegan</option>
                    <option>Gluten-free</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group mb-4 animate__animated animate__fadeInDown animate__delay-2s">
                <label for="preferences" class="block mb-2">Preferences:</label>
                <select name="preferences" id="preferences" class="bg-gray-200 text-black p-2 rounded">
                    <option>Italian</option>
                    <option>Mexican</option>
                    <option>Chinese</option>
                    <option>American</option>
                </select>
            </div>
            <div class="form-group mb-4 animate__animated animate__fadeInDown custom-delay-2500ms">
                <label for="budget_time_period" class="block mb-2">Budget Time Period:</label>
                <select name="budget_time_period" id="budget_time_period" class="bg-gray-200 text-black p-2 rounded">
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Yearly</option>
                </select>
            </div>
            <div class="form-group mb-4 animate__animated animate__fadeInDown animate__delay-3s">
                <label for="budget_amount" class="block mb-2">Budget Amount:</label>
                <input type="number" name="budget_amount" id="budget_amount" value="50" class="bg-gray-200 text-black p-2 rounded">
            </div>
            <div class="form-group mb-4 animate__animated animate__fadeInDown custom-delay-3500ms">
                <label for="option_count" class="block mb-2">Option Count:</label>
                <select name="option_count" id="option_count" class="bg-gray-200 text-black p-2 rounded">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="form-group mb-6 animate__animated animate__fadeInDown animate__delay-4s">
                <label for="meal_type" class="block mb-2">Meal Type:</label>
                <select name="meal_type" id="meal_type" class="bg-gray-200 text-black p-2 rounded">
                    <option>Breakfast</option>
                    <option>Lunch</option>
                    <option>Weeknight Dinner</option>
                    <option>Weekend Dinner</option>
                    <option>Snack</option>
                </select>
            </div>
            <div class="form-group mb-6 animate__animated animate__fadeInDown animate__delay-4s">
                <label for="day" class="block mb-2">Day of the week:</label>
                <select name="day" id="day" class="bg-gray-200 text-black p-2 rounded">
                    <option>Sunday</option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                </select>
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded animate__animated animate__fadeInDown custom-delay-4500ms">Submit</button>
        </form>
    </div>
{% endblock %}
