{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Done!</title>
    </head>
    <body>
        <div class="min-h-screen flex items-center justify-center bg-gray-800">
            <p class="text-white ml-4">Check your calendar!</p>
        </div>
    </body>
{% endblock %}
